! interface type config on device {{ device_name }}
interface {{ local_intr }}
    description to {{ next_device }} int {{ remote_intr }} mode {{ channel_number }}
    {% if channel_number == "trunk" -%}
    switchport mode trunk
    {% elif channel_number == "access" -%}
    switchport mode access
    switchport access vlan {{ vlan }}
    spanning-tree port type edge
    {% elif channel_number|int > 1 -%}
    no switchport
    channel-group {{ channel_number }} mode {{ po_mode }}
    {% else -%}
    ! do nothing
    {% endif -%}
    no shutdown
